.git
.github
.idea
.vscode
node_modules
vendor
public
.env
.env.example
docker-compose.yml
README.md

# Ignore storage files, but not the directory structure
storage/*
!storage/.gitignore
bootstrap/cache/*
!bootstrap/cache/.gitignore
